<div>
  <h1 style="text-align-last: center">Player Details</h1>
  <button type="button" style="margin-right: 10%; margin-left: 38%">
    <a routerLink="/register" style="text-decoration: none; color: black"
      >Add player</a
    >
  </button>
  <label>Choose filter</label>
  <select
    class="select-option"
    #mySelect
    (change)="onOptionsSelected(mySelect.value)"
  >
    <option value="none">none</option>
    <option value="findRuns">findRuns</option>
    <option value="findInnings">findInnings</option>
    <option value="findBalls">findBalls</option>
    <option value="findBoundarySixes">findBoundarySixes</option>
    <option value="findBattingStrikeRate">findBattingStrikeRate</option>
  </select>

  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <table style="width: 75%; margin-left: 13%">
    <tr>
      <th>Player Name</th>
      <th>Matches</th>
      <th>ballsFaced</th>
      <th>battingStrikeRate</th>
      <th>boundarySixes</th>
      <th>fiftiesScored</th>
      <th>hundredsScored</th>
      <th>innings</th>
      <th>boundaryFours</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let post of data">
      <td>{{ post?.name }}</td>
      <td>{{ post?.matches }}</td>
      <td>{{ post?.ballsFaced }}</td>
      <td>{{ post?.battingStrikeRate }}</td>
      <td>{{ post?.boundarySixes }}</td>
      <td>{{ post?.fiftiesScored }}</td>
      <td>{{ post?.hundredsScored }}</td>
      <td>{{ post?.innings }}</td>
      <td>{{ post?.boundaryFours }}</td>
      <td>
        <button type="button" style="margin-right: 15px">
          <a
            routerLink="/updateUser"
            [state]="post"
            style="text-decoration: none; color: black"
            >Edit</a
          >
        </button>
        <button type="button" (click)="deleteUser(post.name)">Delete</button>
      </td>
    </tr>
  </table>
</div>
