<html>
  <div style="text-align-last: right; padding-right: 45%">
    <h1>Register New Player</h1>

    <label><b>Name</b></label
    >&nbsp;&nbsp;&nbsp;&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="name"
      id="name"
    /><br />
    <label><b>Matches</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="matches"
      id="matches"
    /><br />

    <label><b>Innings</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="innings"
      id="innings"
    /><br />
    <label><b>Runs</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="runs"
      id="runs"
    /><br />
    <label><b>Balls Faced</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="ballsFaced"
      id="ballsFaced"
    /><br />
    <label><b>Batting Strike Rate</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="battingStrikeRate"
      id="battingStrikeRate"
    /><br />
    <label><b>Hundreds Scored</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="hundredsScored"
      id="hundredsScored"
    /><br />
    <label><b>Fifties Scored</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="fiftiesScored"
      id="fiftiesScored"
    /><br />
    <label><b>Boundary Fours</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="boundaryFours"
      id="boundaryFours"
    /><br /><br />
    <button type="button" style="margin-right: 6%">Register</button>
  </div>
</html>
